
* {
    font-family: sans-serif;
}

.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    background-color: grey;

}

.calculator {
    background-color: blue;
}

.display {
    display: flex;
    justify-content: center;
}
.display div {
    width: 380px;
    height: 100px;
    margin: 5px 5px;
    background-color: white;
    align-self: center;
    display: flex;
    justify-content: right;
}

#display {
    font-size: 50px;
    align-self: center;
    text-align: right;
    margin-right: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.buttons button {
    width: 100px;
    height: 100px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 5px;
}

.active {
    background-color: pink;
}