@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: sans-serif;
}

.press-start {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: #272929;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 20px 10px;

}

.display {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 5px;

    height: 100px;
    width: 95%;

    align-self: center;
    justify-content: space-evenly;


}

.display div {
    width: 95%;

    align-self: center;
    display: flex;
}

#display {
    text-align: right;
    margin: 0;
    border: none;
    background: none;
    font-size: 40px;
    width: 400px;
}

#displayEq {
    width: 400px;
    text-align: right;
    margin: 0;
    font-size: 22px;
    border: none;
    background: none;

}

.active {
    background-color: #cf4782;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 100px;
    margin: 5px 5px;

    border: none;
    border-radius: 5px;

    color: #272929;
    font-size: 40px;
    font-weight: bold;

    color: #272929;
    background-color: #c4bebb;
}

button:hover {
    opacity: 80%;
}

button:active {
    transform: scale(0.98);
}

#equal {
    width: 210px;
    border-radius: 5px;
    background-color: rgb(245, 155, 76);

}

#clear {
    width: 210px;
    border-radius: 5px;

}

/*FOOTER*/
.footer {
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #272929;
}

.footer div {
    align-self: center;
    margin: 0px 10px;
    ;
}

.github-logo {
    width: 28px;
    align-self: center;
}

.github-logo:hover {
    opacity: 80%;
}