* {
    font-family: sans-serif;
}

.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    background-color: grey;
}

.calculator {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100px;
    width: 95%;

    margin: 20px 10px;


    align-self: center;
}

.display div {
    width: 380px;
    border: solid red;
    align-self: center;
    display: flex;
    margin: 2.5px;
    background-color: white;

    font-size: 28px;
}

#display {
    border: solid blue;
    text-align: right;
    margin: 0;
    width: 100%;
}

#displayEq {
    border: solid blue;
    text-align: right;
    margin: 0;
    width: 100%;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.buttons button {
    width: 100px;
    height: 100px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 5px;
}

.active {
    background-color: pink;
}